version: '3.8'

services:
  api:
    build: .
    command: npm run dev
    ports:
      - 3000:3000
    depends_on:
      - postgres
      - redis

  worker:
    build: .
    command: npm run worker
    depends_on:
      - redis

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: logistima
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  redis:
    image: redis:7
